<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/html-header :: html-header"></head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container root">
    <div class="row">
        <div class="col">
            <h1><i class="material-icons">inbox</i>Inbox</h1>
            <div th:if="${page.getTotalElements() == 0}">
                <div class="alert alert-info" role="alert">There are no received emails.</div>
            </div>
            <div th:if="${page.getTotalElements() > 0}">
                <button class="btn btn-danger d-inline-flex align-items-center" data-bs-toggle="modal" data-bs-target="#delete-all-modal"><i
                        class="material-icons left">delete</i><span>Delete All</span></button>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Received On</th>
                        <th>Subject</th>
                        <th>Download</th>
                        <th>Details</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="mail : ${page}">
                        <td th:text="${mail.getId()}">Id</td>
                        <td th:text="${mail.getFromAddress()}">From</td>
                        <td th:text="${mail.getToAddress()}">To</td>
                        <td th:with="df='yyyy-MM-dd HH:mm:ss'" th:text="${#calendars.format(mail.receivedOn, df)}">
                            Received On
                        </td>
                        <td th:text="${mail.subject}"></td>
                        <td>
                            <a th:href="@{|/email/download/${mail.id}|}">Download</a>
                        </td>
                        <td>
                            <a th:href="@{|/email/${mail.id}|}"><i class="material-icons">email</i></a>
                        </td>
                        <td>
                            <a class="red" th:href="@{|/email/delete/${mail.id}|}"><i class="material-icons">delete</i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div th:replace="fragments/paginator :: paginator('', ${page})"></div>
            </div>
        </div>
    </div>
</div>

<div id="delete-all-modal" class="modal fade" aria-labelledby="modal dialog to delete all messages" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete All Emails</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete all emails?</p>
            </div>
            <div class="modal-footer">
                <form th:action="@{'/email/delete-all'}" method="post" class="inline">
                    <input class="btn btn-danger" type="submit" value="Yes, I am sure to delete all emails"/>
                    <button class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>